# Ignore all 
* 

# Unignore all with extensions *.c *.h *.txt y con Makefile 
!*.c 
!*.h 
!Makefile 
!*.txt
!*.cpp
!*.hpp
!*README*
!*make*
!*suite*
!*.asm
!*.s
!*.inc
# Unignore linker script files
!*.ld
# Unignore bochs config files
!*bochsrc
# Unignore all dirs
!*/
# Unignore .gitignore
!.gitignore
